[submodule "encoder4editing"]
	path = encoder4editing
	url = https://github.com/SeanNobel/encoder4editing.git
[submodule "dalle2_video"]
	path = dalle2-video
	url = https://github.com/SeanNobel/DALLE2-video.git
[submodule "brainmagick"]
	path = brainmagick
	url = https://github.com/facebookresearch/brainmagick.git
