termcolor
hydra-core
mne
einops
scikit-learn
h5py
pyxdf
pandas
lxml
cmake
# dlib
av
mediapipe
opencv-python
wandb
gdown
torch
natsort
pytest

# dalle2-pytorch
-e git+https://github.com/SeanNobel/DALLE2-pytorch.git@bugfixes#egg=dalle2_pytorch

-e git+https://github.com/SeanNobel/DALLE2-video.git@main#egg=dalle2_video

-e git+https://github.com/openai/CLIP.git#egg=clip-1.0

huggingface_hub

accelerate
deepspeed
transformers