termcolor
hydra-core
mne
einops
scikit-learn
h5py
# pyxdf
pandas
# lxml
# cmake
# dlib
# av
mediapipe
opencv-python
wandb==0.15.0
gdown
torch==1.13.1
torchvision
torchaudio
natsort
pytest
string-color

# dalle2-pytorch==1.14.2

# deepspeed

# -e git+https://github.com/SeanNobel/DALLE2-video.git@main#egg=dalle2_video

# -e git+https://github.com/openai/CLIP.git#egg=clip-1.0
git+https://github.com/openai/CLIP.git

huggingface_hub

accelerate
transformers
ml-collections

pytorch-fid==0.3.0
torchmetrics